body
{
 padding:0;
 margin:0;
}

#backg{
background-image: url("../img/error-back.jpg");
height: 100%;
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

#banner404{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}

#filler{
height: 50px;
}

#message{
text-align: center;
color: #fff;
font-size: 2em;
font-family: sans-serif;
}